EXPO_PUBLIC_SUPABASE_URL=https://zgxhgjtzzqzpycrrdptm.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpneGhnanR6enF6cHljcnJkcHRtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk0NDMwMzAsImV4cCI6MjEwNTAxOTAzMH0.M6fNhvafmEWfNGLX1RjDYgMk6W4CILJZkOqCNztoclk